/* components/Header.module.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color:#D9D9D9;
  }
  
  .logo a {
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
  }
  
  .nav a {
    margin-left: 1rem;
    color: blue;
    text-decoration: none;
  }
  
  .nav a:hover {
    color: white;
  }